<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <nav class="navigation">
        <ul class="nav-list">
            <li class="nav-list__item">
                <a href="#">home</a>
            </li>
            <li class="nav-list__item">
                <a href="#section-work">work</a>
            </li>
            <li class="nav-list__item">
                <a href="#section-contact">contact</a>
            </li>
        </ul>
    </nav>

    <header class="section-title">
        <h1 class="title">
            <img class="title__name" src="public/IMG/james-walker.svg" alt="">
            <!-- <span class="title__name">James Walker</span> -->
            <img class="title__is" src="public/IMG/Is A.svg" alt="">
            <!-- <span class="title__is">is a</span> -->
            <img class="title__free" src="public/IMG/free lance.svg" alt="">
            <!-- <span class="title__free">Free Lance</span> -->
            <!-- <span class="title__dev">Web Developer</span> -->
            <img class="title__dev" src="public/IMG/Web Developer.svg" alt="">
        </h1>
    </header>

    <section class="section-about">
        <div class="about gen-content">
            <h2 class="about__title heading__secondary">Hi, I'm James.</h2>
            <p class="about__content-1">I like to create functional and attractive applications for the internet.</p>
            <p class="about__content-2">Check out what I've been working on.</p>
            <img src="public/IMG/bracket-left.svg" alt="" class="about__img">
        </div>
    </section>

    <section class="section-work" id="section-work">
        <div class="work">
            <div class="project-1">
                <div class="project-1__left">
                    <span class="project__left-num">.01</span>
                    <div class="project__left-desc">
                        <span class="project__left-desc-title">QUOC PHAM</span>
                        <span class="project__left-desc-tech">REACT JS</span>
                        <span class="project__left-desc-text gen-content">Concept site built for a cycling apparel
                            company. The exercise was meant to learn how to design around the cues provided
                            by an existing product.</span>
                    </div>
                    <img class="project__left-link" src="public/IMG/icons/exp-btn.svg" alt="">
                </div>
                <div class="project-1__right">
                    <a href="https://jamesmawalker.github.io/QuocPham/" class="project-1__right-image"></a>
                </div>
            </div>
            <div class="project-2">
                <div class="project-2__left">
                    <a href="https://vongxexanh.pythonanywhere.com/" target="_blank" class="project-2__left-image"></a>
                </div>
                <div class="project-2__right">
                    <span class="project__right-num">.02</span>
                    <div class="project__right-desc">
                        <span class="project__right-desc-title">VONG XE XANH</span>
                        <span class="project__right-desc-tech">CSS | SASS</span>
                        <span class="project__right-desc-text gen-content">A site built to follow a group of cyclists on
                            their journey from the north to south of Vietnam. All animations done in
                            CSS to keep the site light and performant.</span>
                    </div>
                    <img class="project__right-link" src="public/IMG/icons/exp-btn.svg" alt="">
                </div>
            </div>
            <div class="project-3">
                <div class="project-3__left">
                    <span class="project__left-num">.03</span>
                    <div class="project__left-desc">
                        <span class="project__left-desc-title">The Zaku Review</span>
                        <span class="project__left-desc-tech">NODE JS</span>
                        <span class="project__left-desc-text gen-content">Began as a personal blog site reviewing
                            Japanese model kits, but developed into a full stack, user-driven, content showcase. Mostly
                            written in JS/CSS</span>
                    </div>
                    <img class="project__left-link" src="public/IMG/icons/exp-btn.svg" alt="">
                </div>
                <div class="project-3__right">
                    <a href="https://the-zaku-review.herokuapp.com/" target="_blank" class="project-3__right-image"></a>
                </div>
            </div>
            <div class="project-4">
                <div class="project-4__left">
                    <a href="https://jamesw2.sgedu.site/" target="_blank" class="project-4__left-image"></a>
                </div>
                <div class="project-4__right">
                    <span class="project__right-num">.04</span>
                    <div class="project__right-desc">
                        <span class="project__right-desc-title u-align-right">The Mingus Conservatory</span>
                        <span class="project__right-desc-tech">WORDPRESS</span>
                        <span class="project__right-desc-text gen-content">General information and student resource page
                            for a fictional music school. Fully featured Wordpress site, available as
                            a theme.</span>
                    </div>
                    <img class="project__right-link" src="public/IMG/icons/exp-btn.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="section-contact" id="section-contact">
        <div class="contact gen-content">
            <h2 class="contact__heading">
                <span class="contact__need">Need it designed? Need it built?</span>
                <a target="#contact__email" class="contact__talk">Let's talk.</a>
                <img src="public/IMG/bracket-left.svg" alt="" class="contact__img">
            </h2>
            <a id="contact__email" class="contact__email" href="mailto:jamesmawalker@gmail.com?subject="
                target="_blank">> jamesmawalker@gmail.com</a>
        </div>
    </section>



    <footer class="footer">
        <div class="footer-items">

            <div class="footer-icons">
                <svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                        <a xlink:href="https://github.com/JamesMAWalker/" target="_blank">
                            <title>Github</title>
                            <g>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M64 5.103c-33.347 0-60.388 27.035-60.388 60.388 0 26.682 17.303 49.317 41.297 57.303 3.017.56 4.125-1.31 4.125-2.905 0-1.44-.056-6.197-.082-11.243-16.8 3.653-20.345-7.125-20.345-7.125-2.747-6.98-6.705-8.836-6.705-8.836-5.48-3.748.413-3.67.413-3.67 6.063.425 9.257 6.223 9.257 6.223 5.386 9.23 14.127 6.562 17.573 5.02.542-3.903 2.107-6.568 3.834-8.076-13.413-1.525-27.514-6.704-27.514-29.843 0-6.593 2.36-11.98 6.223-16.21-.628-1.52-2.695-7.662.584-15.98 0 0 5.07-1.623 16.61 6.19C53.7 35 58.867 34.327 64 34.304c5.13.023 10.3.694 15.127 2.033 11.526-7.813 16.59-6.19 16.59-6.19 3.287 8.317 1.22 14.46.593 15.98 3.872 4.23 6.215 9.617 6.215 16.21 0 23.194-14.127 28.3-27.574 29.796 2.167 1.874 4.097 5.55 4.097 11.183 0 8.08-.07 14.583-.07 16.572 0 1.607 1.088 3.49 4.148 2.897 23.98-7.994 41.263-30.622 41.263-57.294C124.388 32.14 97.35 5.104 64 5.104z" />
                                <path
                                    d="M26.484 91.806c-.133.3-.605.39-1.035.185-.44-.196-.685-.605-.543-.906.13-.31.603-.395 1.04-.188.44.197.69.61.537.91zm-.743-.55M28.93 94.535c-.287.267-.85.143-1.232-.28-.396-.42-.47-.983-.177-1.254.298-.266.844-.14 1.24.28.394.426.472.984.17 1.255zm-.575-.618M31.312 98.012c-.37.258-.976.017-1.35-.52-.37-.538-.37-1.183.01-1.44.373-.258.97-.025 1.35.507.368.545.368 1.19-.01 1.452zm0 0M34.573 101.373c-.33.365-1.036.267-1.552-.23-.527-.487-.674-1.18-.343-1.544.336-.366 1.045-.264 1.564.23.527.486.686 1.18.333 1.543zm0 0M39.073 103.324c-.147.473-.825.688-1.51.486-.683-.207-1.13-.76-.99-1.238.14-.477.823-.7 1.512-.485.683.206 1.13.756.988 1.237zm0 0M44.016 103.685c.017.498-.563.91-1.28.92-.723.017-1.308-.387-1.315-.877 0-.503.568-.91 1.29-.924.717-.013 1.306.387 1.306.88zm0 0M48.614 102.903c.086.485-.413.984-1.126 1.117-.7.13-1.35-.172-1.44-.653-.086-.498.422-.997 1.122-1.126.714-.123 1.354.17 1.444.663zm0 0" />
                            </g>
                        </a>
                    </svg>
                </svg>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <a xlink:href="https://www.instagram.com/phronetic27/" target="_blank">
                        <title>instagram</title>
                        <path
                            d="M16 2.881c4.275 0 4.781 0.019 6.462 0.094 1.563 0.069 2.406 0.331 2.969 0.55 0.744 0.288 1.281 0.638 1.837 1.194 0.563 0.563 0.906 1.094 1.2 1.838 0.219 0.563 0.481 1.412 0.55 2.969 0.075 1.688 0.094 2.194 0.094 6.463s-0.019 4.781-0.094 6.463c-0.069 1.563-0.331 2.406-0.55 2.969-0.288 0.744-0.637 1.281-1.194 1.837-0.563 0.563-1.094 0.906-1.837 1.2-0.563 0.219-1.413 0.481-2.969 0.55-1.688 0.075-2.194 0.094-6.463 0.094s-4.781-0.019-6.463-0.094c-1.563-0.069-2.406-0.331-2.969-0.55-0.744-0.288-1.281-0.637-1.838-1.194-0.563-0.563-0.906-1.094-1.2-1.837-0.219-0.563-0.481-1.413-0.55-2.969-0.075-1.688-0.094-2.194-0.094-6.463s0.019-4.781 0.094-6.463c0.069-1.563 0.331-2.406 0.55-2.969 0.288-0.744 0.638-1.281 1.194-1.838 0.563-0.563 1.094-0.906 1.838-1.2 0.563-0.219 1.412-0.481 2.969-0.55 1.681-0.075 2.188-0.094 6.463-0.094zM16 0c-4.344 0-4.887 0.019-6.594 0.094-1.7 0.075-2.869 0.35-3.881 0.744-1.056 0.412-1.95 0.956-2.837 1.85-0.894 0.888-1.438 1.781-1.85 2.831-0.394 1.019-0.669 2.181-0.744 3.881-0.075 1.713-0.094 2.256-0.094 6.6s0.019 4.887 0.094 6.594c0.075 1.7 0.35 2.869 0.744 3.881 0.413 1.056 0.956 1.95 1.85 2.837 0.887 0.887 1.781 1.438 2.831 1.844 1.019 0.394 2.181 0.669 3.881 0.744 1.706 0.075 2.25 0.094 6.594 0.094s4.888-0.019 6.594-0.094c1.7-0.075 2.869-0.35 3.881-0.744 1.050-0.406 1.944-0.956 2.831-1.844s1.438-1.781 1.844-2.831c0.394-1.019 0.669-2.181 0.744-3.881 0.075-1.706 0.094-2.25 0.094-6.594s-0.019-4.887-0.094-6.594c-0.075-1.7-0.35-2.869-0.744-3.881-0.394-1.063-0.938-1.956-1.831-2.844-0.887-0.887-1.781-1.438-2.831-1.844-1.019-0.394-2.181-0.669-3.881-0.744-1.712-0.081-2.256-0.1-6.6-0.1v0z">
                        </path>
                        <path
                            d="M16 7.781c-4.537 0-8.219 3.681-8.219 8.219s3.681 8.219 8.219 8.219 8.219-3.681 8.219-8.219c0-4.537-3.681-8.219-8.219-8.219zM16 21.331c-2.944 0-5.331-2.387-5.331-5.331s2.387-5.331 5.331-5.331c2.944 0 5.331 2.387 5.331 5.331s-2.387 5.331-5.331 5.331z">
                        </path>
                        <path
                            d="M26.462 7.456c0 1.060-0.859 1.919-1.919 1.919s-1.919-0.859-1.919-1.919c0-1.060 0.859-1.919 1.919-1.919s1.919 0.859 1.919 1.919z">
                        </path>
                    </a>
                </svg>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <a xlink:href="https://www.strava.com/athletes/379856" target="_blank">
                        <title>strava</title>
                        <path
                            d="M20.516 23.925l-2.785-5.488h-4.087l6.872 13.563 6.867-13.563h-4.088zM13.951 10.972l3.781 7.464h5.563l-9.344-18.436-9.333 18.437h5.559z">
                        </path>
                    </a>
                </svg>
            </div>
            <div class="footer-copyright">
                <p class="footer-copyright__text">James Walker ©2019</p>
            </div>
        </div>
    </footer>

</body>

</html>